footer {
    background-color: #333;
    color: white;
    margin-top: 20px;

    padding: 10px 30px;
    text-transform: uppercase;
}

ul.menu-familles {
    list-style-type: none;
    padding-left: 0;
}
ul.menu-familles li {
    margin-bottom: 10px;
}
header {
    margin-bottom: 20px;
}
.bloc-pokemons > div {
    margin-bottom: 20px;
}
.bloc-pokemons > div:last-child {
    margin-bottom: 0;
}